
<div class="primeiro-bloco">
  <img class="primeiro-bloco__imagem" src="images/default.jpg">
  <div class="login__container">
      <h2>LOGIN</h2>
          <input class="login__input" type="text" placeholder="USERNAME"><br>
          <input class="login__input" type="password" placeholder="SENHA"><br>
          <a href="#" class="password__link">Esqueci minha senha</a><br>
          <button class="login__button">ENTRAR</button>
          <a href="#" class="login__link">Ainda não tem conta? Cadastre-se</a>
  </div>
</div>