</main>

<footer>

    <div class="footer-frame max-container">
        <ul>
            <li class="sobre"><span>Sobre nós</span></li>
            <li class="contato"><span>Contato</span></li>
            <li class="projeto"><span>O projeto</span></li>
        </ul>
    </div>

</footer>
</body>
</html>