<section class="container__element">
  <div class="container__title"><h2>DÊ UM MATCH PARA SUBIR SOLOQ E FLEX</h2></div>
  <!-- colocar o que o app te proporciona -->
  <article>
    <ul class="container__items">
      <ol data-descr=""><img class="item_functions" src="images/icon_home.svg"><br></ol>
      <ol data-descr=""><img class="item_functions" src="images/icon_home.svg"></ol>
      <ol data-descr=""><img class="item_functions" src="images/icon_home.svg"> </ol>
    </ul>
  </article>
</section>