<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheet/perfil.css" />
    <title>perfil</title>
  </head>
  <body>
    <header>
      <div class="nav-bar max-container">
        <div class="logo">
          <img
            src="images/icons/logo-placeholder.svg"
            alt="imagem logo"
          />
        </div>

        <div class="search-input">
          <input
            class="search"
            type="search"
            id="Search"
            name="pesquisa"
            placeholder="    Pesquisar..."
          />
          <button class="search-btn">
            <img
              src="images/icons/search-icon.svg"
              alt="lupa pesquisa"
            />
          </button>
        </div>

        <div class="name-n-icons">
          <img
            class="msg-icon"
            src="images/icons/icon-mgs.svg"
            alt="icone mensagem"
          />
          <p class="user-name">User</p>
          <img
            class="user-icon"
            src="images/icons/face-woman-profile.svg"
            alt="icone tipo usuário"
          />
        </div>
      </div>
    </header>
    <main>
