<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/home.css">
    <title><%= title %></title>
</head>
<body>
    
    <header class="cabecalho">
        <div class="container">
          <img
            src="https://cumming-group.com/wp-content/uploads/2017/07/logo.png"
            alt="Logo do site"
            class="cabecalho__logo"
          />
          
          <div class="cabecalho__navegacao">
            <nav class="cabecalho__navegacao">
              <a class="cabecalho__link" href="#">SOBRE NÓS</a>
              <a class="cabecalho__link" href="#">COMUNIDADE</a>
              <a class="cabecalho__link" href="#">CRIAR CONTA</a>
            </nav>
          </div>

        </div>
      </header>