<section class="aside-menu">

    <div>
        <ul class="itens-menu">
            <li class="menu home"> <span>Home</span> </li>
            <li class="menu perfil"> <span>Perfil</span> </li>
            <li class="menu champs"> <span>Champions</span> </li>
            <li class="menu stats"> <span>Stats</span> </li>
        </ul>
    </div>

</section>