<section class="container__element">
  <div class="container__title"><h2>REVIEWS</h2></div>
  <article class="item__reviews">

    <% for(review of reviews) { %>
    <div class="container__review">
      <img src= <%= review.img %> />
      <div class="review">
        <h3><%= review.profile %></h3>
        <p><%= review.desc %></p>
      </div>
    </div>
    <% } %>
  </article>
</section>
