<section class="container__element">
  <div class="container__title"><h2>REVIEWS</h2></div>
  <article class="item__reviews">

    <% for(i=0; i<3; i++) { %>
    <div class="container__review">
      <img src= "images/default.jpg" />
      <div class="review">
        <h3>Juliana Topzera</h3>
        <p>O melhor app de todos</p>
      </div>
    </div>
    <% } %>
  </article>
</section>
