<section class="perfil-container">

    <div class="frame-top">

        <div class="foto-perfil"></div>

        <div class="rank rank-solo">
            <img class="diamante" src="images/diamond.png" alt="diamante">
            <ul class="infos-rank infos-rank-solo">
                <li>
                    <h2>Rank Solo</h2>
                </li>
                <li>Diamond 1</li>
                <li>91 PDL</li>
                <li>Win rate 62%</li>
                <li>Tristana</li>
            </ul>
        </div>

        <div class="rank rank-flex">
            <img class="platina" src="images/platina.png" alt="platina">
            <ul class="infos-rank infos-rank-flex">
                <li>
                    <h2>Rank Flex</h2>
                </li>
                <li>Platina 3</li>
                <li>134 PDL</li>
                <li>Win rate 62%</li>
                <li>Tristana</li>
            </ul>
        </div>

    </div>
    </section>