<%- include('./partials/header') %>

<div>
    <div class="cadastro__container">
        <h2>CADASTRO</h2>
        <div id='container__cadastro__nome'>
            <input id= "cadastro__nome" class="cadastro__input" type="text" placeholder="NOME"><br>
            <input id= "cadastro__nome" class="cadastro__input" type="text" placeholder="SOBRENOME"><br>
        </div>
            <input class="cadastro__input" type="text" placeholder="CONTA RIOT"><br>

            <input class="cadastro__input" type="password" placeholder="SENHA"><br>
            <input class="cadastro__input" type="password" placeholder="CONFIRMAÇÃO DE SENHA"><br>

            <p>Data de Nascimento</p><input  id="cadastro__dateBorn" class="cadastro__input" type="DATE"><br>
            <button class="cadastro__button">Confirmar Cadastro</button>
       
    </div>
</div>

<%- include('./partials/footer') %>