<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheet/perfil.css">
    <title>perfil</title>
</head>
<body>

    <header>

        <div class="nav-bar max-container">

            <div class="logo">
                <img src="/public/images/icons/logo-placeholder.svg" alt="imagem logo">
            </div>

            <div class="search-input">
                <input class="search" type="search" id="Search" name="pesquisa" placeholder="    Pesquisar...">
                <button class="search-btn"><img src="/public/images/icons/search-icon.svg" alt="lupa pesquisa"></button>
            </div>

            <div class="name-n-icons">
                <img class="msg-icon" src="/public/images/icons/icon-mgs.svg" alt="icone mensagem">
                <p class="user-name">yasmin_almeida</p>
                <img class="user-icon" src="/public/images/icons/face-woman-profile.svg" alt="icone tipo usuário">
            </div>

        </div>

    </header>

    <main>

    <div class="main-container max-container">
        <section class="aside-menu">

            <div>
                <ul class="itens-menu">
                    <li class="menu home"> <span>Home</span> </li>
                    <li class="menu perfil"> <span>Perfil</span> </li>
                    <li class="menu champs"> <span>Champions</span> </li>
                    <li class="menu stats"> <span>Stats</span> </li>
                </ul>
            </div>

        </section>

        <section class="perfil-container">

            <div class="frame-top">

                <div class="foto-perfil"></div>
    
                <div class="rank rank-solo">
                    <img class="diamante" src="/public/images/diamond.png" alt="diamante">
                    <ul class="infos-rank infos-rank-solo">
                        <li>
                            <h2>Rank Solo</h2>
                        </li>
                        <li>Diamond 1</li>
                        <li>91 PDL</li>
                        <li>Win rate 62%</li>
                        <li>Tristana</li>
                    </ul>
                </div>
    
                <div class="rank rank-flex">
                    <img class="platina" src="/public/images/platina.png" alt="platina">
                    <ul class="infos-rank infos-rank-flex">
                        <li>
                            <h2>Rank Flex</h2>
                        </li>
                        <li>Platina 3</li>
                        <li>134 PDL</li>
                        <li>Win rate 62%</li>
                        <li>Tristana</li>
                    </ul>
                </div>

            </div>

            <div class="frame-bottom">
                <figure>
                    <img class="foto-champion" src="/public/images/champion-tristana.png" alt="tristana">
                </figure>

                <div class="chat-box">
                    <!-- <h2>Chats</h2> -->
                </div>
            </div>

        </section>
    </div>

    </main>

    <footer>

        <div class="footer-frame max-container">
            <ul>
                <li class="sobre"><span>Sobre nós</span></li>
                <li class="contato"><span>Contato</span></li>
                <li class="projeto"><span>O projeto</span></li>
            </ul>
        </div>

    </footer>
</body>
</html>