.primeiro-bloco {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
}

.primeiro-bloco__imagem {
    width: 80vw;
    height: auto;
}

.login__container {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-claro);
    width: 80vw;
    height: 50vh;
    color: var(--roxo-claro);
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    margin-top: 2vh;
}

.login__container h2 {
    font-size: 36px;
    margin-bottom: 3vh;
}

.login__link {
    text-decoration: none;
    color: var(--roxo-claro);
}

.login__input {
    border-radius: 10px;
    height: 6vh;
    color: var(--roxo-claro);
}

.login__input::placeholder {
    color: var(--roxo-claro);
    text-align: center;

}

.login__button {
    border-radius: 6px;
    color: var(--branco);
    background-color: var(--roxo-claro);
    width: 30vw;
    height: 5vh;
    align-self: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.password__link {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: var(--roxo-claro);
}

@media screen and (min-width: 574px){
    .primeiro-bloco{
        flex-direction: row;
        justify-content: space-around;
    }
    .primeiro-bloco__imagem{
        width: 30vw;
    }
    .login__container{
        width: 300px;
        height: 325px;
        margin: 0 16px;
    }
    .login__button{
        width: 117px;
    }
}