:root {
    --roxo-claro: #6E0E9B;
    --roxo-escuro: #38094F;
    --cinza-escuro: #28262E;
    --preto: #171717;
    --cinza-claro: #c4c4c4bb;
    --branco: #FCF5FF;
    font-family: 'Roboto', sans-serif;
}