@import url('cores.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: var(--roxo-claro);
}

.cabecalho__logo {
    width: 25vw;
    height: auto;
}


.cabecalho .container {
    display: flex;
    align-items: center;
}

.cabecalho__navegacao {
    display: flex;
    font-size: 12px;
}

.cabecalho__link {
    text-decoration: none;
    margin-right: 2rem;
    color: var(--branco);
    font-weight: bold;
}

@media screen and (min-width: 574px){
    .cabecalho__logo{
        width: 120px;
    }
    .cabecalho .container{
        justify-content: space-around;
    }
}